<div class="container bg-lighy py-5">
    <h1 class="display-5 fw-bold">Welcome to the quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 5 questions. Each Question holds 10 points</p><br>
    <h1 style="font-family: cursive;text-align: center;">All the best!!</h1>
    <div class="name col-md my-3">
        <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
    </div>
    <button  class="btn btn-primary btn-lg" routerLink="/questions" (click)="startQuize()">Start the Quiz</button>
</div>